<template>
  <v-list flat>
    <v-list-item to="/">
      <v-list-item-avatar class="mr-8" tile size="25" color="transparent">
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title> {{ $store.state.text.main }} </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-list-item to="/schools">
      <v-list-item-avatar class="mr-8" tile size="25" color="transparent">
        <!-- <v-img :src="`${item['icon']}?v=2`" /> -->
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>
          {{ $store.state.text.change_school }}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>

    <v-list-item
      exact-active-class="list-item-active"
      v-for="(item, i) in navigation"
      :key="i"
      :to="localePath(`/${i !== '/' ? item.path : ''}`)"
    >
      <v-list-item-avatar class="mr-8" tile size="25" color="transparent">
        <!-- <v-img :src="`${item['icon']}?v=2`" /> -->
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title v-text="item.title" />
      </v-list-item-content>
    </v-list-item>
    <v-list-item to="/settings">
      <v-list-item-avatar class="mr-8" tile size="25" color="transparent">
        <!-- <v-img :src="`${item['icon']}?v=2`" /> -->
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title> Настройки </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-list-item @click="logout()">
      <v-list-item-avatar class="mr-8" tile size="25" color="transparent">
        <!-- <v-img :src="`${item['icon']}?v=2`" /> -->
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title> {{ $store.state.text.quit }} </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script>
export default {
  props: {
    navigation: Array,
  },
  methods: {
    async logout() {
      this.$auth.$storage.removeUniversal("accounts");
      this.$auth.$storage.removeUniversal("bid");
      this.$auth.$storage.removeUniversal("user");
      this.$auth.$storage.removeUniversal("schools");
      await this.$auth.logout();
      this.$auth.options.redirect = false;

      this.$router.push(this.localePath({ path: "/login" }));
    },
  },
};
</script>
