<template>
  <div>
    <v-navigation-drawer
      width="280"
      v-model="drawer"
      :mini-variant="miniVariant"
      fixed
      :app="true"
      light
    >
      <div :class="`${miniVariant ? 'text-center' : ' text-left'} pa-0 ma-2`">
        <v-btn v-if="!menuButton" icon @click.stop="miniVariant = !miniVariant">
          <v-icon>mdi-{{ `chevron-${miniVariant ? "right" : "left"}` }}</v-icon>
        </v-btn>
      </div>

      <logo v-if="!miniVariant" />

      <menu-list :navigation="userInfo" v-if="userInfo" />
      <!-- <reminder-create v-if="!miniVariant" /> -->
    </v-navigation-drawer>
    <v-app-bar
      class="pr-2 pl-2"
      color="#f5f5fb"
      :elevation="0"
      :clipped-left="clipped"
      fixed
      app
    >
      <v-app-bar-nav-icon v-if="menuButton" @click.stop="drawer = !drawer" />

      <!-- <v-toolbar-title
        class="text-xl-h5 text-sm-h6 text-xs-h6 text-md-h5 text-lg-h5"
        color="red"
        v-text="titles"
      /> -->
      <v-toolbar-title
        class="text-xl-h5 text-sm-h6 text-xs-h6 text-md-h5 text-lg-h5"
        v-text="title"
      ></v-toolbar-title>
      <!-- <v-toolbar-title
        class="text-xl-h5 text-sm-h6 text-xs-h6 text-md-h5 text-lg-h5"
      /> -->
      <v-spacer />
      <div class="mr-4 blue--text">{{ currentTime }}</div>
      <v-avatar @click="rightDrawer = !rightDrawer" size="42" color="#ebebeb">
        <v-img
          :src="this.$auth.$storage.getUniversal('user')['avatar']"
          alt=""
        />
      </v-avatar>
    </v-app-bar>
    <v-navigation-drawer
      width="330"
      :value="rightDrawer"
      :right="right"
      temporary
      fixed
    >
      <profile v-if="rightDrawer" :user="this.$store.state.auth.user" />
      <!-- <profile v-if="rightDrawer" /> -->
    </v-navigation-drawer>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  // created() {
  //   console.log(this.$auth.$storage.getUniversal("user"));
  // },

  methods: {
    onLogout() {
      this.$store.dispatch("logout");
      this.$router.push("/admin/auth");
    },
    // log() {
    //   console.log(titles);
    // },
    onDashboard() {
      this.$router.push("/");
    },
    getDateTime() {
      try {
        let now = new Date();
        let year = now.getFullYear();
        let month = now.getMonth() + 1;
        let day = now.getDate();
        let hour = now.getHours();
        let minute = now.getMinutes();
        let second = now.getSeconds();
        if (month.toString().length == 1) {
          month = "0" + month;
        }
        if (day.toString().length == 1) {
          day = "0" + day;
        }
        if (hour.toString().length == 1) {
          hour = "0" + hour;
        }
        if (minute.toString().length == 1) {
          minute = "0" + minute;
        }
        if (second.toString().length == 1) {
          second = "0" + second;
        }
        let dateTime =
          day +
          "." +
          month +
          "." +
          year +
          " " +
          hour +
          ":" +
          minute +
          ":" +
          second;
        return dateTime;
      } catch (error) {}

      try {
        return new Date().toLocaleDateString();
      } catch (error) {}

      return "";
    },
  },

  computed: {
    ...mapState(["pageBreadcrumbs"]),
    userInfo() {
      // return this.$auth.$storage.getUniversal("user")?.business?.routes;
      if (this.$store.state.auth.user.business) {
        return this.$store.state.auth.user.business.routes;
      }
      return null;
    },
    menuButton: {
      get() {
        return (
          this.$vuetify.breakpoint.name === "xs" ||
          this.$vuetify.breakpoint.name === "sm" ||
          this.$vuetify.breakpoint.name === "md"
        );
      },
    },
    title() {
      if (this.pageBreadcrumbs.length) {
        return this.pageBreadcrumbs[this.pageBreadcrumbs.length - 1].text;
      }
      return this.$store.state.text.main;
    },
    // navigation() {
    //   //   console.log("TEST :", this.$store.state);
    //   return this.$store.state.routes;
    // },
    // titles() {
    //   try {
    //     if (this.$nuxt.$route["path"]) {
    //       let path = this.$nuxt.$route["path"];
    //       let pathArray = path.split("/");
    //       // console.log(`${this.$store.state.text}[${pathArray}]`);
    //       // console.log(path);
    //       // if (this.pageBreadcrumbs.length) {
    //       //   return this.pageBreadcrumbs[this.pageBreadcrumbs.length - 1].text;
    //       // }
    //       if (pathArray === "/") {
    //         return this.$store.state.text.main;
    //       }
    //       if (pathArray[1]) {
    //         // console.log("PATHARRAY: ", pathArray[1]);
    //         // return this.navigation[pathArray[1]]["title"]; //test
    //         return this.$store.state.text[pathArray[1]];
    //       }
    //     }
    //   } catch (error) {}
    //   return this.$store.state.text[pathArray];

    //   // return this.navigation[0]["title"];
    //   // return null;
    // },
  },
  props: {
    user: Object,
  },
  data() {
    return {
      miniVariant: false,
      clipped: false,
      drawer: false,
      fixed: false,
      right: true,
      rightDrawer: false,
      currentTime: "",
    };
  },
  mounted() {
    // console.log("TEST :", this);

    if (!this.menuButton) {
      this.drawer = true;
    }
    setInterval(() => {
      this.currentTime = this.getDateTime();
    }, 1000);
  },
};
</script>
