<template>
  <v-card class="profile text-center" elevation="0" tile :loading="loading">
    <v-avatar class="mt-15" color="#ebebeb" elevation="4" size="189">
      <v-img :src="user['avatar']"></v-img>
    </v-avatar>
    <v-card-text>
      <div class="black--text text-h6 mt-3">
        {{ user["full_name"] }}
      </div>
      <div class="gray--text mt-1">
        {{ $store.state.text["login"] }}: {{ user["phone"] }}
      </div>
      <div class="gray--text mt-1">
        {{ user["business"]["title"] }}
      </div>

      <set-language />
      <v-btn
        width="100%"
        class="mt-5"
        color="success"
        ref="close"
        :to="localePath(`/settings`)"
      >
        {{ $store.state.text["change_password"] }}
      </v-btn>
      <v-btn width="100%" class="mt-4" color="error" ref="close" @click="logout"
        >{{ $store.state.text["quit"] }}
      </v-btn>
    </v-card-text>
  </v-card>
</template>
<script>
import { getReminders } from "~/api/reminderApi";

export default {
  data() {
    return {
      reminders: [],
      loading: true,
    };
  },
  methods: {
    logout() {
      this.$auth.$storage.removeUniversal("accounts");
      this.$auth.$storage.removeUniversal("bid");
      this.$auth.$storage.removeUniversal("user");

      this.$auth.logout();
    },
  },
  props: {
    user: Object,
  },
};
</script>
