<template>
  <v-btn-toggle
    class="ma-4"
    @change="setLang"
    v-model="language"
    borderless
    dense
  >
    <v-btn :value="`ru`">
      <v-avatar rounded="lg" size="37">
        <v-img src="/russia.svg" @click="refresh"></v-img>
      </v-avatar>
    </v-btn>
    <v-btn :value="`uz`">
      <v-avatar rounded="lg" size="37">
        <v-img src="/uzbekistan.svg" @click="refresh"></v-img>
      </v-avatar>
    </v-btn>
  </v-btn-toggle>
</template>

<script>
import { getSystem } from "~/api/systemApi";
import { getUser } from "~/api/userApi";

export default {
  computed: {
    language: {
      get() {
        return this.$store.state.language;
      },
      set(val) {
        this.setLang(val);
      },
    },
  },
  methods: {
    refresh() {
      this.$nuxt.refresh();
    },
    async setLang(lang) {
      if (lang === this.$store.state.language) {
        return false;
      }

      this.$store.dispatch("setLoading", true);

      await this.$axios.setHeader("localization", lang);
      await this.$i18n.setLocale(lang);
      await this.$i18n.setLocaleCookie(lang);
      await this.$store.dispatch("initLanguage", lang);

      const user = await getUser(this.$axios);

      if (user && user.data) {
        this.$auth.$storage.setUniversal("user", user.data);

        // this.$store.dispatch("setUser", user.data);
      }

      let system = await getSystem(this.$axios);

      if (system && system.text) {
        this.$store.dispatch("setText", system.text);
      }
      if (system && system.locations) {
        this.$store.dispatch("setLocations", system.locations);
      }
      if (system && system.categories) {
        this.$store.dispatch("setCategories", system.categories);
      }

      this.$store.dispatch("setLoading", false);
    },
  },
  data() {
    return {
      // language: 'ru',
    };
  },
};
</script>
