<template>
  <!-- <div>
    <h1>This is pupil with id {{ $route.params.id }}</h1>
  </div> -->
  <v-flex d-flex>
    <v-layout wrap>
      <v-flex md4 v-for="item in items" :key="item.id" class="pa-5">
        <v-card
          class="card-container"
          height="120px"
          :to="'/pupils/' + item.id"
        >
          <p>{{ item.title }}</p>

          <p></p>
        </v-card>
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
import { getClass, getTeacherGroup } from "~/api/userApi";

export default {
  computed: {
    selectedClass() {
      return this.$store.getters.selectedClass;
    },
  },
  async asyncData({ store, $axios, params, query }) {
    console.log(params, query);
    // let myClass = await getTeacherGroup($axios, params.id);
    // let myTestClass = myClass.data;
    store.dispatch("setBreadcrumbs", [
      {
        to: "/pupils/" + params.id,
        text: params.id,
        disabled: false,
      },
    ]);
    let data = await getClass($axios, params.id);
    // console.log(data);
    // let data = await getTeacherGroups($axios);
    let items = data.data;
    console.log(items);
    return { items: items };
  },
};
</script>

<style scoped></style>
