<template>
  <v-container class="pa-0">
    <v-form class="login d-flex justify-center align-center" lazy-validation>
      <v-row justify="center">
        <v-col class="m-auto text-center" cols="12" sm="8" md="6" lg="4" xl="3">
          <v-card class="py-6 px-6">
            <logo class="mb-4" />
            <set-language class="mb-7" />

            <v-text-field
              outlined
              type="phone"
              name="phone"
              v-model="userInfo.phone"
              v-mask="'+998#########'"
              placeholder="+998"
              required
            >
            </v-text-field>
            <v-text-field
              outlined
              type="password"
              name="password"
              :label="$store.state.text['password']"
              v-model="userInfo.password"
              required
            >
            </v-text-field>

            <v-btn
              large
              :width="`100%`"
              class="white--text mt-2"
              color="green"
              @click.prevent="loginUser"
            >
              {{ $store.state.text["enter"] }}
            </v-btn>
            <v-divider> </v-divider>
            <v-btn
              large
              :width="`100%`"
              class="white--text mt-2"
              color="green"
              @click.prevent="register"
            >
              {{ $store.state.text["register"] }}
            </v-btn>
          </v-card>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>
<script>
import { VueMaskDirective } from "v-mask";
import { getSchools } from "~/api/systemApi";
import { getBusinessId, getUser } from "~/api/userApi";

export default {
  layout: "guest",
  data() {
    return {
      loading: false,
      userInfo: {
        phone: "",
        password: "",
        loading: false,
        valid: true,
      },
    };
  },
  methods: {
    async loginUser() {
      try {
        this.loading = true;
        this.$auth.options.redirect = false;
        let response = await this.$auth.loginWith("local", {
          data: this.userInfo,
        });
        this.$auth.setUserToken(response.data.data.access.accessToken);

        const newUser = await getUser(this.$axios);
        this.$auth.$storage.setUniversal("user", newUser.data, true);

        const schools = await getSchools(this.$axios);
        this.$auth.$storage.setUniversal("schools", schools.data);
        this.loading = false;

        if (response) {
          this.$router.push("/schools");
        }
      } catch (e) {
        console.log(e);
      }
    },
    register() {
      this.$router.push("/register");
    },
  },
};
</script>
