<template>
  <div background="#fffff">
    <sms-verify v-if="!is_verify" :is_restore="false" @verified="verified" />

    <v-form
      v-else
      class="login d-flex justify-center align-center"
      method="post"
      @submit.prevent="register"
    >
      <v-row justify="center">
        <v-col class="m-auto text-center" cols="12" sm="8" md="6" lg="4" xl="3">
          <v-card class="py-6 px-6">
            <logo class="mb-4" />
            <set-language class="mb-7" />
            <h3>Registration</h3>
            <v-text-field
              outlined
              type="phone"
              name="phone"
              v-model="data.phone"
              v-mask="'+998#########'"
              placeholder="+998"
              required
            >
            </v-text-field>
            <v-text-field
              outlined
              type="text"
              name="last_name"
              v-model="data.last_name"
              :label="$store.state.text['last_name']"
              required
            >
            </v-text-field>
            <v-text-field
              outlined
              type="text"
              name="first_name"
              v-model="data.first_name"
              :label="$store.state.text['first_name']"
              required
            >
            </v-text-field>
            <v-text-field
              outlined
              type="password"
              name="password"
              v-model="data.password"
              :label="$store.state.text['password']"
              required
            >
            </v-text-field>
            <v-text-field
              outlined
              type="password"
              name="password_confirmation"
              v-model="data.password_confirmation"
              :label="$store.state.text['password_confirmation']"
              required
            >
            </v-text-field>

            <v-btn
              large
              :width="`100%`"
              :loading="loading"
              class="white--text mt-2"
              color="green"
              type="submit"
            >
              {{ $store.state.text["send"] }}
            </v-btn>
          </v-card>
        </v-col>
      </v-row>
    </v-form>
  </div>
</template>
<script>
import { register, getBusinessId, getUser } from "~/api/userApi";
import { getSchools } from "~/api/systemApi";

export default {
  auth: false,
  layout: "guest",

  mounted() {},
  data() {
    return {
      is_verify: false,
      data: {
        phone: "",
        password: "",
        password_confirmation: "",
        key: "",
        last_name: "",
        first_name: "",
      },
    };
  },
  methods: {
    async register() {
      try {
        const data = await register(this, this.data);
        let response = await this.$auth.loginWith("local", {
          data: this.data,
        });
        this.$auth.setUserToken(response.data.data.access.accessToken);
        const accounts = await getBusinessId(this, this.data);
        this.$auth.$storage.setUniversal("accounts", accounts.data);
        const newUser = await getUser(this.$axios);
        this.$auth.setUser(newUser.data);
        const schools = await getSchools(this.$axios);
        this.$auth.$storage.setUniversal("schools", schools.data);
        this.$router.push("/schools");
      } catch (e) {
        console.log(e);
      }
    },
    verified(val) {
      if (val.phone && val.key) {
        this.data.key = val.key;
        this.data.phone = val.phone;
        this.is_verify = true;
      }
    },
  },
};
</script>
