<template>
  <div>
    <v-dialog fullscreen v-model="dialog" max-width="500px">
      <div class="topbar d-flex align-start pa-0 ma-0">
        <v-icon
          class="myIcon ma-0 pa-0 mt-3 pr-2 pl-10"
          color="white"
          @click="onCancel"
          >mdi-close</v-icon
        >

        <p class="mt-3 text-subtitle-1 font-weight-light pl-13">
          {{ !isEdited ? "Добавление" : "Редактирование" }}
        </p>
        <v-btn
          v-if="isEdited || isHidden"
          class="mt-3 saveBtn"
          plain
          color="white"
          style="border: none #7b5ce0"
          @click="onSave"
          outlined
          >{{ $store.state.text.save }}</v-btn
        >
      </div>
      <v-card v-if="added && !isHidden" class="myCard mt-10">
        <div class="pt-5">
          <p>Данные пользователя</p>
          <div class="d-flex">
            <v-text-field
              outlined
              dense
              type="phone"
              name="first_name"
              color="#7B5CE0"
              :label="$store.state.text.phone"
              v-mask="'+998#########'"
              placeholder="+998"
              class="myTextField flex-grow-0 pr-6 rounded-lg"
              v-model="checkingUser.phone"
              required
            >
            </v-text-field>

            <v-btn
              outlined
              dense
              class="pa-5 rounded-lg"
              color="#7B5CE0"
              @click.prevent="checkIfCustomerExists(checkingUser.phone)"
              >Добавить</v-btn
            >
          </div>
        </div>
      </v-card>
      <!-- <v-card
      v-if="
        (user && !added) || (added && existingCustomer && found === editUser)
      "
      class="myCard mt-10"
    > -->

      <!-- Add new user -->

      <!-- <v-card class="myCard mt-10" v-if="isHidden">
        <v-col cols="12" sm="6" md="4">
          <div class="userInfo d-flex justify-start flex-grow-1 mt-5 mb-5">
   
            <p class="text-subtitle-2 phoneColor">
              <span class="textColor text-subtitle-2"
                >{{ $store.state.text.phone }}: </span
              >{{ addUser.phone }}
            </p>
          </div>

          <v-select
            v-model="attrArr"
            :items="items"
            item-text="title"
            item-value="id"
            chips
            :label="items.title"
            multiple
            outlined
            @change="changed()"
          >
            <template v-slot:selection="{ attrs, item, select, selected }">
              <v-chip
                v-bind="attrs"
                :input-value="selected"
                close
                @click="select"
                @click:close="remove(item.id)"
              >
                <strong>{{ item.title }}</strong>
              </v-chip>
            </template>
          </v-select>
          <p class="mb-10">Данные пользователя</p>

          <v-row class="myRow">
            <v-col cols="12" sm="6" md="4">
              <v-text-field
                outlined
                rounded
                type="text"
                name="first_name"
                label="Фамилия"
                class="myTextField"
                v-model="addUser.last_name"
                required
              >
              </v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="4">
              <v-text-field
                outlined
                rounded
                type="text"
                name="first_name"
                label="Имя"
                class="myTextField"
                v-model="addUser.first_name"
                required
              >
              </v-text-field
            ></v-col>
            <v-col cols="12" sm="6" md="4" class="pl-2">
              <v-text-field
                outlined
                rounded
                type="text"
                name="first_name"
                label="Отчество"
                class="myTextField"
                v-model="addUser.father_name"
                required
              >
              </v-text-field>
            </v-col>
          </v-row>
          <p>Статус пользователя</p>
          <v-checkbox
            v-model="addUser.is_moderated"
            false-value="0"
            true-value="1"
            label="Активен"
            color="success"
            hide-details
            onChange="log"
            class="my-3"
          ></v-checkbox>
        </v-col>
        <v-card-actions>
          <v-btn
            rounded
            class="text-center pa-6 changePass"
            style="background-color: #8e5ee6"
            @click="openInnerDialog"
            >Изменить пароль</v-btn
          >
        </v-card-actions>
        <v-dialog max-width="500px" v-model="innerDialog" class="innerDialog">
          <v-card class="pa-10">
            <v-text-field
              outlined
              type="text"
              name="password_confirmation"
              label="Новый пароль"
              class="myTextField"
              required
            >
            </v-text-field>
            <v-text-field
              outlined
              type="text"
              name="password_confirmation"
              label="Подвердить новый пароль"
              class="myTextField"
              required
            >
            </v-text-field>
            <v-card-actions class="d-flex justify-center">
              <v-btn
                @click.stop="innerDialog = false"
                rounded
                class="text-center pa-4 px-12 changePass"
                style="background-color: #8e5ee6"
                >Сохранить</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-card> -->

      <!-- Edit existing user -->
      <v-card v-if="user" class="myCard mt-10">
        <v-col cols="12" sm="6" md="4" class="pl-0">
          <div
            class="userInfo d-flex justify-start flex-grow-1 mt-5 mb-0"
            v-if="!isHidden"
          >
            <p class="textPrim">
              <span class="textColor">{{ $store.state.text.full_name }}: </span
              >{{ editUser.full_name }}
            </p>
            <p class="phoneColor">
              <span class="textColor">{{ $store.state.text.phone }}: </span
              >{{ editUser.phone }}
            </p>
          </div>
          <div v-if="isHidden">
            <p>Данные пользователя</p>
            <v-text-field
              outlined
              rounded
              disabled
              type="phone"
              color="#7B5CE0"
              name="first_name"
              :label="$store.state.text.phone"
              v-mask="'+998#########'"
              :placeholder="editUser.phone"
              class="myTextField"
              v-model="editUser.phone"
              required
            >
            </v-text-field>
          </div>
          <!-- <v-select
            v-model="myModel"
            label="Роли пользователя"
            :items="items"
            item-value="id"
            @change="log"
            multiple
            chips
            class="myTextField"
            rounded
            outlined
          >
            <template #selection="selection">

              <v-chip
                close
                class="chipColor white--text"
                style="background-color: #8e5ee6"
                @click="deleteItem(selection.item)"
                v-text="selection.item.title"
              ></v-chip>
            </template>
            <template slot="item" slot-scope="data">
              {{ data.item.title }}
            </template>
          </v-select> -->
          <v-col cols="12" sm="6" md="3">
            <v-select
              v-model="attrArr"
              :items="items"
              item-text="title"
              item-value="id"
              chips
              dense
              class="myselect mt-2"
              rounded
              label="Роли пользователя"
              multiple
              outlined
              @change="changed()"
            >
              <template v-slot:selection="{ attrs, item, select, selected }">
                <v-chip
                  v-bind="attrs"
                  :input-value="selected"
                  close
                  style="background-color: #8e5ee6; color: white"
                  @click="select"
                  @click:close="remove(item.id)"
                >
                  <strong>{{ item.title }}</strong>
                </v-chip>
              </template>
            </v-select>
          </v-col>
          <p class="mb-7" v-if="!isHidden">Данные пользователя</p>

          <v-row class="myRow pa-0">
            <v-col cols="12" sm="6" md="3">
              <!-- <div class="d-flex justify-space-between userInfo"> -->
              <v-text-field
                outlined
                rounded
                dense
                type="text"
                color="#7B5CE0"
                name="first_name"
                label="Фамилия"
                class="myTextField"
                v-model="editUser.last_name"
                required
              >
              </v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="3">
              <v-text-field
                outlined
                rounded
                dense
                type="text"
                name="first_name"
                label="Имя"
                color="#7B5CE0"
                class="myTextField"
                v-model="editUser.first_name"
                required
              >
              </v-text-field
            ></v-col>
            <v-col cols="12" sm="6" md="3" class="pl-2">
              <v-text-field
                outlined
                rounded
                type="text"
                dense
                name="first_name"
                label="Отчество"
                color="#7B5CE0"
                class="myTextField"
                v-model="editUser.father_name"
                required
              >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row class="myRow" v-if="isHidden">
            <v-col cols="12" sm="6" md="4" class="pl-2">
              <v-text-field
                outlined
                rounded
                class="myselect"
                type="password"
                color="#7B5CE0"
                name="password"
                v-model="editUser.password"
                :label="$store.state.text['password']"
                required
              >
              </v-text-field>
            </v-col>
          </v-row>
          <p>Статус пользователя</p>
          <v-checkbox
            v-model="editUser.is_moderated"
            false-value="0"
            true-value="1"
            :value="editUser.is_moderated"
            label="Активен"
            color="success"
            hide-details
            onChange="log"
            class="my-0"
          ></v-checkbox>
        </v-col>
        <v-card-actions class="pl-0">
          <v-btn
            rounded
            class="text-center pa-5 changePass ml-0"
            style="background-color: #8e5ee6"
            @click="openInnerDialog"
            v-if="!isHidden"
            >Изменить пароль</v-btn
          >
        </v-card-actions>
        <v-dialog max-width="500px" v-model="innerDialog" class="innerDialog">
          <v-card class="pa-10 d-flex flex-column justify-center align-center">
            <!-- <v-text-field
              outlined
              type="text"
              color="#7B5CE0"
              name="password"
              v-model="password"
              label="Новый пароль"
              class="myTextField"
              style="display: none"
            >
            </v-text-field> -->
            <!-- <div></div> -->
            <v-text-field
              outlined
              type="text"
              color="#7B5CE0"
              name="password"
              v-model="password"
              label="Новый пароль"
              class="myTextField rounded-xl"
              required
            >
            </v-text-field>
            <v-text-field
              outlined
              type="text"
              color="#7B5CE0"
              name="password_confirmation"
              label="Подвердить новый пароль"
              class="myTextField rounded-xl"
              required
            >
            </v-text-field>
            <v-card-actions class="d-flex justify-center">
              <v-btn
                @click.stop="changeCustomerPassword"
                rounded
                class="text-center pa-4 px-12 changePass"
                style="background-color: #8e5ee6"
                >Сохранить</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import { addTeacher } from "~/api/userApi";

export default {
  props: {
    user: {
      type: Object,
    },
    isAdded: {
      type: Boolean,
    },
    value: {
      type: Boolean,
    },
    customers: {
      type: Array,
    },
    isEdited: {
      type: Boolean,
    },
  },
  //   props: ["user", "visible"],
  //   data() {
  //     return {
  //       visible: false,
  //     };
  //   },
  data() {
    return {
      checkingUser: {
        phone: "",
      },
      password: "",
      addedUser: null,
      isHidden: false,
      phone: "",
      myModel: [],
      found: null,
      innerDialog: false,
      editedUser: this.user,
      existingCustomer: false,
      attrArr: [],
      allAttr: null,
    };
  },
  computed: {
    dialog: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    addUser() {
      return this.addedUser;
    },
    editUser() {
      return this.user;
    },
    items() {
      return this.$store.state.auth.user.roles;
    },
    added() {
      return this.isAdded;
    },
    custList() {
      return this.customers;
    },
  },
  mounted() {
    this.dialog = this.showDialog;
    console.log("USER AT DIALOG: ", this.user);
  },
  watch: {
    visible() {
      if (this.visible) {
        this.dialog = true;
      }
    },
  },
  methods: {
    changeCustomerPassword() {
      this.innerDialog = false;
      console.log(this.password, this.editUser.id);
      this.$emit("confirmed", {
        password: this.password,
        id: this.editUser.id,
      });
    },
    remove(id) {
      let idx = this.attrArr.indexOf(id);
      this.attrArr.splice(idx, 1);
      this.attrArr = [...this.attrArr];
    },
    changed() {
      this.$emit("changed", this.attrArr);
    },
    log() {
      console.log(this.editUser.is_moderated);
    },
    onSave() {
      this.editUser.roles = this.attrArr;
      this.isHidden = false;

      this.$emit("confirmed", this.editUser);
    },
    openInnerDialog() {
      this.innerDialog = true;
    },
    onCancel() {
      this.isHidden = false;

      this.$emit("cancelled");
    },
    deleteItem(item) {
      this.myModel = this.myModel.filter((find) => find !== item);
    },
    async checkIfCustomerExists(phone) {
      this.added = false;
      this.found = this.custList.find((find) => find.phone === phone);
      console.log(typeof this.found);
      this.isHidden = true;
      // this.$emit("onAdd", this.found, phone);
      this.found
        ? (this.existingCustomer = true)
        : (this.existingCustomer = false);
      this.$emit("onAdd", this.checkingUser);

      // if (!this.found) {
      //   const data = await addTeacher(this, this.checkingUser);
      //   this.addedUser = data.data;
      //   console.log(this.addedUser);
      // }
      // console.log(this.existingCustomer);

      // console.log(this.found);

      // if (!this.found) {
      //   console.log(found);
      //   alert("New user");
      //   this.existingCustomer = false;
      // } else {
      //   this.found = this.editUser;
      //   console.log("THIS.USER: ", this.editUser);
      //   this.existingCustomer = true;
      // }
    },
  },
};
</script>

<style scoped>
.topbar {
  height: 14%;
  width: 100vw;
  background: #8e5ee6;
  color: white;
  margin-top: 50px;
}
.textColor {
  color: #8e5ee6;
}
.chipColor {
  background: #8e5ee6;
}
.textPrim {
  color: #3e3e41;
}
.saveBtn {
  margin-left: auto;
}
.phoneColor {
  color: #30ab02;
  margin-left: 380px;
}
.userInfo {
  width: 100vw;
}
.myCard > * {
  margin-left: 100px;
}
.myRow {
  width: 90vw;
}

.myTextField {
  width: 350px;
}
.changePass {
  color: white;
}
.myPhoneCheck {
  width: 10vw;
}
.myselect {
  width: 350px;
}
.myIcon {
  width: 28px;
  height: 28px;
}
</style>
