<template>
  <div>
    <v-dialog fullscreen v-model="dialog" max-width="500px">
      <div class="topbar d-flex align-start pa-0 ma-0">
        <v-icon class="ma-0 pa-0 mt-3 pr-2 pl-2" color="white" @click="onCancel"
          >mdi-close</v-icon
        >

        <p class="mt-3 text-subtitle-1 font-weight-light">Редактирование</p>
        <v-btn class="mt-3 saveBtn" plain color="white" @click="onSave">{{
          $store.state.text.save
        }}</v-btn>
      </div>
      <v-card v-if="noPhone">
        <div>
          <p>Данные пользователя</p>
          <div>
            <v-text-field
              outlined
              rounded
              type="phone"
              name="first_name"
              :label="$store.state.text.phone"
              class="myTextField"
              v-model="phone"
              required
            >
            </v-text-field>
            <v-btn outlined @click="noPhone = false">Добавить</v-btn>
          </div>
        </div>
      </v-card>
      <v-card v-if="!noPhone" class="myCard mt-10">
        <v-col cols="12" sm="6" md="4">
          <div class="userInfo d-flex justify-start flex-grow-1 mt-5 mb-5">
            <p class="text-subtitle-2 textPrim">
              <span class="textColor text-subtitle-2"
                >{{ $store.state.text.full_name }}: </span
              >{{ user.full_name }}
            </p>
            <p class="text-subtitle-2 phoneColor">
              <span class="textColor text-subtitle-2"
                >{{ $store.state.text.phone }}: </span
              >{{ user.phone }}
            </p>
          </div>
          <v-select
            v-model="myModel"
            label="Роли пользователя"
            :items="items"
            multiple
            chips
            class="myTextField"
            rounded
            outlined
          >
            <template #selection="selection">
              <v-chip
                close
                class="chipColor white--text"
                style="background-color: #8e5ee6"
                @click="deleteItem(selection.item)"
                v-text="selection.item.title"
              ></v-chip>
            </template>
            <template slot="item" slot-scope="data">
              <!-- HTML that describe how select should render items when the select is open -->
              {{ data.item.title }}
            </template>
          </v-select>
          <p class="mb-10">Данные пользователя</p>

          <v-row class="myRow">
            <v-col cols="12" sm="6" md="4">
              <!-- <div class="d-flex justify-space-between userInfo"> -->
              <v-text-field
                outlined
                rounded
                type="text"
                name="first_name"
                label="Фамилия"
                class="myTextField"
                v-model="editUser.last_name"
                required
              >
              </v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="4">
              <v-text-field
                outlined
                rounded
                type="text"
                name="first_name"
                label="Имя"
                class="myTextField"
                v-model="editUser.first_name"
                required
              >
              </v-text-field
            ></v-col>
            <v-col cols="12" sm="6" md="4" class="pl-2">
              <v-text-field
                outlined
                rounded
                type="text"
                name="first_name"
                label="Отчество"
                class="myTextField"
                v-model="editUser.father_name"
                required
              >
              </v-text-field>
            </v-col>
          </v-row>
          <p>Статус пользователя</p>
          <v-checkbox
            v-model="ex4"
            label="Активен"
            color="success"
            value="success"
            hide-details
            class="my-3"
          ></v-checkbox>
          <!-- </div> -->
          <!-- <v-text-field
              outlined
              type="text"
              name="phone"
              label="user.phone"
              :value="user.phone"
              v-model="editUser.phone"
              v-mask="'+998#########'"
              placeholder="+998"
              required
            >
            </v-text-field> -->
        </v-col>
        <v-card-actions>
          <v-btn
            rounded
            class="text-center pa-6 changePass"
            style="background-color: #8e5ee6"
            @click="openInnerDialog"
            >Изменить пароль</v-btn
          >

          <!-- <v-btn color="primary" text @click.stop="show = false">Close</v-btn>
            <v-btn color="blue darken-1" text @click="onSave">Save</v-btn> -->
        </v-card-actions>
        <v-dialog max-width="500px" v-model="innerDialog" class="innerDialog">
          <v-card class="pa-10">
            <v-text-field
              outlined
              type="text"
              name="password_confirmation"
              label="Новый пароль"
              class="myTextField"
              required
            >
            </v-text-field>
            <v-text-field
              outlined
              type="text"
              name="password_confirmation"
              label="Подвердить новый пароль"
              class="myTextField"
              required
            >
            </v-text-field>
            <v-card-actions class="d-flex justify-center">
              <v-btn
                @click.stop="innerDialog = false"
                rounded
                class="text-center pa-4 changePass"
                style="background-color: #8e5ee6"
                >Сохранить</v-btn
              >
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    user: {
      type: Object,
    },
    value: {
      type: Boolean,
    },
  },
  //   props: ["user", "visible"],
  //   data() {
  //     return {
  //       visible: false,
  //     };
  //   },
  data() {
    return {
      noPhone: true,
      phone: "",
      myModel: [],
      innerDialog: false,
      editedUser: this.user,
      password: "",
    };
  },
  computed: {
    dialog: {
      get() {
        return this.value;
      },
      set(value) {
        this.$emit("input", value);
      },
    },
    editUser() {
      return this.user;
    },
    items() {
      return this.$store.state.auth.user.roles;
    },
  },
  mounted() {
    this.dialog = this.showDialog;
    console.log("USER AT DIALOG: ", this.user);
  },
  watch: {
    visible() {
      if (this.visible) {
        this.dialog = true;
      }
    },
  },
  methods: {
    onSave() {
      this.$emit("confirmed", this.editUser);
    },
    openInnerDialog() {
      this.innerDialog = true;
    },
    onCancel() {
      this.$emit("cancelled");
    },
    deleteItem(item) {
      this.myModel = this.myModel.filter((find) => find !== item);
    },
  },
};
</script>

<style scoped>
.topbar {
  height: 14%;
  width: 100vw;
  background: #8e5ee6;
  color: white;
  margin-top: 50px;
}
.textColor {
  color: #8e5ee6;
}
.chipColor {
  background: #8e5ee6;
}
.textPrim {
  color: #3e3e41;
}
.saveBtn {
  margin-left: auto;
}
.phoneColor {
  color: #30ab02;
  margin-left: 380px;
}
.userInfo {
  width: 100vw;
}
.myCard > * {
  margin-left: 100px;
}
.myRow {
  width: 90vw;
}

.myTextField {
  width: 25vw;
}
.changePass {
  color: white;
}
</style>
