<template>
  <div class="rounded-lg ml-4 mr-4 myTable rounded-xl">
    <v-card-title class="pb-1 pl-2">
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Поиск"
        single-line
        hide-details
        class="searchBar pa-0 mr-12 pr-4"
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-spacer></v-spacer>
      <v-btn
        rounded
        class="text-center pa-5 pr-8 pl-8 changePass"
        style="background-color: #8e5ee6"
        @click="onTelVer"
        >{{ $store.state.text.add }}</v-btn
      >
    </v-card-title>
    <v-card class="rounded-xl ml-2 mr-2 mt-2 listCard">
      <v-data-table
        :headers="headers"
        :items="items"
        sort-by="calories"
        class="rounded-xl myTable"
        id="mytable"
        :footer-props="{
          showFirstLastPage: true,
          'rows-per-page-text': '',
          rowsPerPageItems: '[10]',
          'disable-items-per-page': true,
        }"
        :search="search"
      >
        <template v-slot:body="{ items }" class="listCard">
          <tbody class="listCard">
            <tr v-for="item in items" :key="item.id">
              <td v-if="item.is_moderated" class="isActive">Активен</td>
              <td v-else class="notActive">Неактивен</td>

              <td class="otherCells">{{ item.last_name }}</td>
              <td class="otherCells">{{ item.first_name }}</td>
              <td class="otherCells">{{ item.phone }}</td>
              <td class="otherCells">
                {{
                  item.roles.length > 0
                    ? item.roles.map((i) => i.title).join(", ")
                    : "Роль не установлена"
                }}
              </td>
              <!-- <td>{{ new Date(item.created_at).toLocaleString() }}</td> -->
              <td>
                <v-icon
                  small
                  class="editIcon mr-2"
                  @click="onButtonClick(item)"
                >
                  mdi-pencil
                </v-icon>
              </td>
              <!-- <td>{{ item.actions }}</td> -->
            </tr>
          </tbody>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>

<script>
export default {
  props: ["headers", "items"],

  computed: {
    userRoles() {
      return this.$store.state.auth.user.roles;
    },
  },
  methods: {
    onButtonClick: function (user) {
      console.log(user);
      this.$emit("onEdit", user);
    },
    onTelVer() {
      this.$emit("onTelVer");
    },
  },
  data() {
    return {
      search: "",
    };
  },
};
</script>

<style scoped>
.addBtn {
  margin-bottom: 150px;
  border-radius: 20px;
  background-color: #9b5fea;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;

  color: white;
}
.searchBar {
  border-radius: 20px;
  width: 100px;
}
.listCard {
  border-radius: 20px;
}
.isActive {
  color: #30ab02;
}
.notActive {
  color: #ff4c00;
}
.otherCells {
  color: #757578;
}
.editIcon {
  color: #7b5ce0;
}
.v-data-footer__select {
  display: none;
}
.addingBtn {
  margin-left: auto;
}
.changePass {
  color: white;
}
th > span {
  color: red;
}
#mytable table thead tr th:nth-child(1) {
  background: green;
}
#mytable table thead tr th:nth-child(2) {
  background: red;
}
::v-deep .v-data-table-header > * {
  color: red;
  background-color: white;
}
::v-deep .v-data-footer__select {
  display: none;
}
::v-deep .v-data-footer__pagination {
  display: none;
}
::v-deep .v-data-footer {
  display: flex;
  justify-content: flex-end;
}
.header-text-color {
  color: red;
}

.myTable .v-table tbody tr:not(:last-child) {
  border-bottom: none;
}
.v-data-table td {
  border-bottom-width: 90wh;
}
</style>
