


.page-enter,
.page-enter-active,
.page-leave-active,
.page-leave,
.page-leave-to {
  opacity: .3;
  z-index: 0;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  pointer-events: none;
  cursor: progress;
}

