.chat {
   overflow: hidden;
   position: relative;
   display: block;
   min-height: calc(100vh - 190px);
   max-height: calc(100vh - 190px);
   position: relative;
   &_message {
      min-height: calc(100vh - 320px);
      max-height: calc(100vh - 320px);
      width: 100%;
      &_list {
         position: absolute;
         left: 0;
         top: 0;
         bottom: 0;
         right: 0;
         height: 100%;
         width: 100%;
         overflow-y: scroll;
         overflow-x: hidden;
      }
   }
}
