.conference {
   &_jitsi {
      overflow: hidden;
      height: 100vh;
      width: 100%;
      &_close {
         padding: 0;
         margin: 0;
         height: 0 !important;
         width: 0;
         position: absolute !important;
         z-index: -10;
         opacity: 0;
      }
   }
}
