.discipline {
   &_icon {
      position: absolute;
      padding: 0;
      margin: 0;
      right: 0;
      text-align: center;
      @include absolute_horizontal;
      padding: 15px;
      opacity: 0.99;
      min-height: 90%;
   }
}
