.intro {
   position: relative;
   padding: 20px 10px;
   &_students {
      display: block;
      position: relative;
      overflow: visible;
      // width: 200px;
      height: 70px;
      & > img {
         outline: none;
         -moz-user-select: none;
         -webkit-user-select: none;
         user-select: none;
         position: absolute;
         right: 0;
         z-index: 2;
         top: -5.6em;
         width: 160px;
      }
   }
}
