.login {
  min-height: calc(100vh - 200px);
  display: flex;
  //   border: 1px solid green;
  justify-content: center;
  align-items: center;
}
.login > * {
  display: flex;
  // border: 1px solid green;
  justify-content: center;
  align-items: center;
}

.login-language {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.login-card {
  padding: 0 20px 30px;
}

.login-btn {
  color: green;
}
