
.pdfViewer {
   overflow: hidden !important;
}

.pdf-app .toolbar {
   display: none !important;
}

.pdf-app #viewerContainer {
   position: relative !important;
}

.pdf-app .findbar,
.pdf-app .secondaryToolbar {
   position: relative !important;
}

.pdf-app #mainContainer {
   position: initial !important;
   overflow: hidden !important;
}
.pdf-app #sidebarContainer {
   position: relative !important;
   display: none !important;
   overflow: hidden !important;
}

.pdf-app .textLayer {
   position: relative !important;
   overflow: hidden !important;
}

.pdf-app[class] {
   background-color: transparent !important;
}

.pdf-app .pdfViewer .page {
   overflow: hidden !important;
   border: none !important;
}