.question {
   &_glue {
      &_item {
         background: red;
         width: 1px;
         height: 1px;
         position: absolute;
         left: 50%;
         top: 50%;
         z-index: 0;
         opacity: 0;
         padding: 0;
         margin: 0;
         border-radius: 100%;
      }
   }

   &_test {
      &_title {
         // background: red;
         width: 100%;
         padding-top: 20px;
      }
      &_img {
         height: 0;
         padding-top: 40%;
         // background: green;
         width: 100%;
         position: relative;
         overflow: hidden;
         & img {
            position: absolute;
            top:0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
            // @include absolute_all;
         }
      }
   }
}
