.reminder {
   &_create {
      position: relative;
      margin: 80px 0 0;
      padding: 20px;
      & > img {
         position: absolute;
         top: -60px;
         z-index: 3;
         height: 120px;
         @include absolute_vertical();
      }
   }
}
