.vt-theme-dark {
   border-left: 10px solid #f21c22;
   background: #222 !important;
   min-width: 300px !important;
   max-width: 300px !important;
   justify-content: space-between !important;
   padding: 18px 20px !important;

   & .vt-content {
      max-width: calc(100% - 90px) !important;
   }
   & .vt-title {
      font-weight: bold !important;
      margin-bottom: 12px;
   }

   & .vt-buttons {
      margin: 15px -3px 0 !important;
   }

   & .vt-icon {
      line-height: 10px !important;
   }

   & .vt-icon-container {
      margin: 0 !important;
   }
}

.tooltip-content {
   color: $app-color-white;
   font-size: 14px;
   line-height: 16px;
}

.vue-tooltip {
   background-color: #000;
   box-sizing: border-box;
   color: #fff;
   max-width: 320px;
   padding: 6px 10px;
   border-radius: 3px;
   z-index: 100;
   box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
.vue-tooltip.vue-tooltip-hidden {
   transform: translateX(-100000px) !important;
}
.vue-tooltip .vue-tooltip-content {
   text-align: center;
}
.vue-tooltip .tooltip-arrow {
   content: "";
   width: 0;
   height: 0;
   border-style: solid;
   position: absolute;
   margin: 5px;
}
.vue-tooltip[x-out-of-boundaries] {
   display: none;
}
.vue-tooltip[x-placement^="bottom"] {
   margin-top: 5px;
}
.vue-tooltip[x-placement^="bottom"] .tooltip-arrow {
   border-width: 0 5px 5px 5px;
   border-bottom-color: #000;
   border-top-color: transparent !important;
   border-left-color: transparent !important;
   border-right-color: transparent !important;
   top: -5px;
   margin-top: 0;
   margin-bottom: 0;
}
.vue-tooltip[x-placement^="top"] {
   margin-bottom: 5px;
}
.vue-tooltip[x-placement^="top"] .tooltip-arrow {
   border-width: 5px 5px 0 5px;
   border-top-color: #000;
   border-bottom-color: transparent !important;
   border-left-color: transparent !important;
   border-right-color: transparent !important;
   bottom: -5px;
   margin-top: 0;
   margin-bottom: 0;
}
.vue-tooltip[x-placement^="right"] {
   margin-left: 5px;
}
.vue-tooltip[x-placement^="right"] .tooltip-arrow {
   border-width: 5px 5px 5px 0;
   border-right-color: #000;
   border-top-color: transparent !important;
   border-left-color: transparent !important;
   border-bottom-color: transparent !important;
   left: -5px;
   margin-left: 0;
   margin-right: 0;
}
.vue-tooltip[x-placement^="left"] {
   margin-right: 5px;
}
.vue-tooltip[x-placement^="left"] .tooltip-arrow {
   border-width: 5px 0 5px 5px;
   border-left-color: #000;
   border-top-color: transparent !important;
   border-right-color: transparent !important;
   border-bottom-color: transparent !important;
   right: -5px;
   margin-left: 0;
   margin-right: 0;
}
