@import "mixin";
@import "animate";
@import "logo";
@import "intro";
@import "login";
@import "timetable";
@import "reminder";
@import "conference";
@import "toastr";
@import "stats";
@import "rating";
@import "works";
@import "chat";
@import "lessonplan";
@import "question";
@import "settings";
@import "profile";
@import "pdf";
@import "resource";
@import "discipline";

.v-application,
body {
  & .v-navigation-drawer,
  .v-app-bar {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
  background-color: white !important;
  // background-color: $app-background !important;
}
.fade-enter-active {
  animation: acrossIn 0.3s ease-out both;
}
.fade-leave-active {
  animation: acrossOut 0.3s ease-in both;
}
@keyframes acrossIn {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes acrossOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
.list-item-active {
  border-right: 5px solid $app-color-blue;
  &::before {
    border-right: 5px solid $app-color-blue;
  }
}
.list-item-teacher-chat-active {
  border-right: 5px solid #f19b3f;
  margin-left: -8px;

  &::before {
    margin-left: -8px;

    border-right: 5px solid #f19b3f;
  }
}
.theme--light.v-list-item--active:before,
.theme--light.v-list-item--active:hover:before,
.theme--light.v-list-item:focus:before {
  opacity: 0;
}
// .nuxt-link-exact-active {
//   border-right: 5px solid $app-color-blue;
//   &::before {
//     border-right: 5px solid $app-color-blue;
//   }
// }
// .nuxt-link-prefetched {
//   border-right: 5px solid $app-color-blue;
//   &::before {
//     border-right: 5px solid $app-color-blue;
//   }
// }
// .nuxt-link-active {
//   border-right: 5px solid $app-color-blue;
//   &::before {
//     border-right: 5px solid $app-color-blue;
//   }
// }
// .list-item-title-unread {
//   color: #dc143c;
// }

.v-navigation-drawer--fixed {
  max-height: 100% !important;
}

* {
  -ms-overflow-style: none; // Internet Explorer 10+
  scrollbar-width: none; // Firefox
}
*::-webkit-scrollbar {
  display: none; // Safari and Chrome
}

.v-stepper__header {
  box-shadow: none !important;
}

.text-h6 {
  line-height: 1.5rem !important;
}

.border {
  border: 1px solid $app-color-border;
}
