<template>
  <v-card elevation="4" :loading="loading" v-if="user && user.business">
    <div>
      <v-row align="center" class="intro rounded-lg px-10" no-gutters>
        <v-col cols="12" md="8" sm="6" align-self="stretch">
          <v-card color="transparent" elevation="0" tile>
            <v-card-text>
              <p class="text-h4 font-weight-bold white--text">
                {{ $store.state.text["welcome"] }}, {{ user["full_name"] }}!
              </p>
              <div class="text-h6 white--text">
                Ваша школа: {{ user.business.title }}
              </div>
              <div class="white--text text-h6">
                Текущий учебный сезон: 2022-2023. Чтобы изменить учебный сезон,
                перейдите в настройки.
              </div>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="6" md="4" class="d-sm-none d-none d-md-block">
          <v-card color="transparent" elevation="0" tile>
            <v-card-text>
              <div>
                <img src="/logo.png" class="logo" />
              </div>
              <!-- <logo class="logo mb-4" /> -->
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-card>
</template>

<script>
export default {
  props: {
    user: Object,
  },

  data() {
    return {
      loading: false,
    };
  },
};
</script>
<style scoped>
.intro {
  background: linear-gradient(92.68deg, #7a5bdf 18.9%, #9b5fea 70.42%);
}

.logo {
  height: 122px;
  width: 200px;
  margin-left: auto;
}
</style>
