<template>
  <v-card class="ml-9 mb-5" max-width="344" outlined color="transparent">
    <v-card-text>
      <!-- <div>Word of the Day</div> -->
      <div class="d-flex align-center">
        <v-badge overlap left inline class="pa-0 ma-0" :color="item.color">
        </v-badge>
        <!-- <div class="myBadge" :backgroundColor="item.color"></div> -->
        <p class="text-h6 text--primary mb-0">{{ item.time }}</p>
      </div>
      <p class="pa-0 ma-0 body-1">{{ item.title }}</p>
      <p class="pa-0 ma-0 body-1">Класс: {{ item.class }}</p>
      <p class="pa-0 ma-0 body-1">Плановый урок: {{ item.lessonPlan }}</p>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: ["item"],
  data: () => ({
    reveal: false,
  }),
};
</script>

<style scoped>
.v-card--reveal {
  bottom: 0;
  opacity: 1 !important;
  position: absolute;
  width: 100%;
}
.myBadge {
  background-color: lightgrey;
  border-radius: 90px;
  height: 20px;
  font-weight: bold;
  min-width: 20px;
  color: white;
  margin-left: 8px;
  padding: 0.5px 3px 0.5px 3px;
  text-align: center;
  vertical-align: middle;
}
.v-badge__badge {
  height: 18px;
  min-width: 18px;
  border-radius: 12px;
}
v.card {
  border: none;
}
.v-card :hover {
  border: none;
  cursor: pointer;
  background-color: #faf9fe;
}
</style>
