<template>
  <v-flex d-flex>
    <v-layout wrap>
      <v-flex md3 v-for="item in items" :key="item.id" class="pa-5">
        <v-card
          class="card-container"
          height="120px"
          @click="onClassOpen(item)"
        >
          <p>{{ item.title }}</p>
          <p>{{ item.client_count }} ученика</p>
          <p>{{ item.discipline_count }} предметов</p>

          <p></p>
        </v-card>
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
import { getTeacherGroups } from "~/api/userApi";

export default {
  async asyncData({ store, $axios, commit }) {
    store.dispatch("setBreadcrumbs", [
      {
        to: "/pupils",
        text: "Мои классы",
        disabled: false,
      },
    ]);
    let data = await getTeacherGroups($axios);
    let items = data.data;
    console.log(items);
    return { items: items };
    // return { biba: data.data };
  },
  data() {
    return {
      class: null,
    };
  },
  methods: {
    onClassOpen(item) {
      console.log(item);
      this.$store.commit("SET_SELECTEDCLASS", item);
      console.log(this.$store.state.selectedClass);
      this.$router.push({
        path: this.localePath("/pupils/" + item.id),
      });
    },
  },
};
</script>

<style scoped></style>
