<template>
  <v-flex d-flex>
    <v-layout wrap>
      <v-flex md3 v-for="item in items" :key="item.id" class="pa-5">
        <v-card class="card-container" height="120px">
          <p>{{ item.title }}</p>
          <p>{{ item.client_count }} ученика</p>
          <p>{{ item.discipline_count }} предметов</p>

          <p></p>
        </v-card>
      </v-flex>
    </v-layout>
  </v-flex>
</template>

<script>
export default {
  props: ["items"],
};
</script>

<style scoped></style>
