// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
@import "~vuetify/src/styles/styles.sass";
//CUSTOM COLORS
$app-background: #f5f5fb !default;
$app-color-blue: #7021d2 !default;
$app-color-black: #000 !default;
$app-color-white: #fff !default;
$app-color-border: #ebebeb !default;
$material-light: map-merge(
  $material-light,
  (
    "background":
      var(--v-background-base, map-get($material-light, "background"))
      !important,
  )
);
$material-dark: map-merge(
  $material-dark,
  (
    "background":
      var(--v-background-base, map-get($material-dark, "background")) !important,
  )
);
//BTN
$btn-border-radius: 8px;

//CARD
$card-border-radius: 10px;
$card-title-word-break: break-all;
