<template>
  <div class="">
    <Table
      :headers="headers"
      :items="items"
      @onEdit="onEditUser"
      @onTelVer="onIsAdded"
    />

    <CustomerDialogue
      :user="user"
      :customers="items"
      :isAdded="isAdded"
      v-model="isDialogVisible"
      @onAdd="onAddUser"
      @confirmed="onEditUserConfirmed"
      @cancelled="onEditUserCancelled"
      @addedUser="onAddedUser"
      :isEdited="isEdited"
    />
  </div>
</template>

<script>
import { addTeacher, editTeacher, getCustomers } from "~/api/userApi";
import CustomerDialogue from "../../components/Customer/CustomerDialogue.vue";
import Table from "~/components/Table/Table.vue";
// import AddCustomer from "../../components/Customer/AddCustomer.vue";
// import CustomerTelVerification from "~/components/Customer/CustomerTelVerification.vue";

export default {
  async asyncData({ store, $axios }) {
    store.dispatch("setBreadcrumbs", [
      {
        to: "/customers",
        text: store.state.text.teachers_card,
        disabled: false,
      },
    ]);
    let data = await getCustomers($axios);
    let items = data.data;
    console.log(items);
    return { items: items };
    // return { biba: data.data };
  },
  data() {
    return {
      search: "",
      dialog: false,
      dialogDelete: false,
      test: "",
      newUserPhone: "",
      biba: [],
      items: [],
      user: null,
      isDialogVisible: false,
      isAdded: false,
      isEdited: false,
      data: {
        phone: "",
        is_moderated: "",
        password: "",
        last_name: "",
        first_name: "",
        roles: [],
      },
      headers: [
        {
          text: "Активность",
          align: "start",
          class: "purple--text text-subtitle-1 font-weight-medium",
          value: "is_moderated",
        },
        {
          text: "Фамилия",
          value: "last_name",
          class: "purple--text text-subtitle-1 font-weight-medium",
        },
        {
          text: "Имя",
          value: "first_name",
          class: "purple--text text-subtitle-1 font-weight-medium",
        },
        {
          text: this.$store.state.text.phone,
          value: "phone",
          class: "purple--text text-subtitle-1 font-weight-medium",
        },
        {
          text: this.$store.state.text.roles_title,
          value: "roles",
          class: "purple--text text-subtitle-1 font-weight-medium",
        },
        // {
        //   text: this.$store.state.text.created_at,
        //   value: "created_at",
        //   class: "purple--text text-subtitle-1 font-weight-medium",
        // },
        { text: "", value: "actions", sortable: false },
      ],
      // desserts: [],
      editedIndex: -1,
      editedItem: {
        name: "",
        calories: 0,
        fat: 0,
        carbs: 0,
        protein: 0,
      },
    };
  },
  computed: {
    checkedRoles() {
      return this.rolesSel;
    },
    modelJson() {
      return JSON.stringify(this.data.roles);
    },
    val: {
      get() {
        let val = [];
        if (this.value && this.value.length) {
          for (let i = 0; i < this.value.length; i++) {
            if (this.value[i].id) {
              val.push(this.value[i].id);
            }
          }
        }
        return val;
      },
      set(val) {
        let result;
        result = [];
        for (let i = 0; i < val.length; i++) {
          if (this.roles[val[i]]) {
            result.push(this.roles[val[i]]);
          }
        }
        this.$emit("input", result);
      },
    },
    formTitle() {
      return this.editedIndex === -1 ? "Добавить нового учителя" : "Edit Item";
    },
    userRoles() {
      return this.$store.state.auth.user.roles;
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },
  // created() {
  //   this.initialize();
  // },
  methods: {
    onEditUser(user) {
      console.log(this.isDialogVisible);
      this.user = user;
      this.isDialogVisible = true;
      this.isEdited = true;
    },
    async onAddUser(user) {
      console.log(user);
      const data = await addTeacher(this, user);
      this.user = data.data;
    },

    async onEditUserConfirmed(editedUser) {
      // hide a dialog
      this.isDialogVisible = false;
      this.isEdited = false;

      console.log(editedUser);
      try {
        const data = await editTeacher(this, editedUser);
        // const data = await this.$axios.$put("business/customers", user);
        console.log("Updated: ", data);
      } catch (e) {
        console.log(e);
      }

      // save a user and refresh a table
    },
    async onAddedUser(user) {
      this.isEdited = true;

      this.isDialogVisible = false;
      console.log(user);
      try {
        const data = await addTeacher(this, user);
        console.log("Updated: ", data);
      } catch (e) {
        console.log(e);
      }
    },
    onIsAdded() {
      this.isAdded = true;
      this.isDialogVisible = true;
    },
    onEditUserCancelled() {
      // hide a dialog
      this.isAdded = false;
      this.isEdited = false;
      this.isDialogVisible = false;
      this.user = null;
    },
    addItems() {
      this.data.roles.push(this.test);
    },
    // logInput($event, index) {
    //   console.log($event, index);
    // },
    handleChange(value, checked) {
      if (checked) {
        this.data.roles = this.data.roles.concat(value);
      } else {
        this.data.roles = this.data.roles.filter((x) => x !== value);
      }
    },
    // log() {
    //   console.log(this.data.roles);
    // },
    // editItem(item) {
    //   console.log(item);
    //   this.editedIndex = this.desserts.indexOf(item);
    //   this.editedItem = Object.assign({}, item);
    //   this.dialog = true;
    // },
    // deleteItem(item) {
    //   this.editedIndex = this.desserts.indexOf(item);
    //   this.editedItem = Object.assign({}, item);
    //   this.dialogDelete = true;
    // },
    // deleteItemConfirm() {
    //   this.desserts.splice(this.editedIndex, 1);
    //   this.closeDelete();
    // },
    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },
  },
  // components: { Table },
  components: { CustomerDialogue, Table },
};
</script>
<style scoped>
.addBtn {
  margin-bottom: 150px;
  border-radius: 20px;
  background-color: #9b5fea;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;

  color: white;
}
.searchBar {
  border-radius: 20px;
}
.listCard {
  border-radius: 20px;
}
.isActive {
  color: #30ab02;
}
.notActive {
  color: #ff4c00;
}
.otherCells {
  color: #757578;
}
.editIcon {
  color: #7b5ce0;
}
.v-data-footer__select {
  display: none;
}
</style>
