<template>
  <div class="hero pa-0 ma-0 d-flex flex-column">
    <div class="d-flex justify-center align-center pt-12" background="#f3f3f3">
      <v-card
        class="card d-flex flex-column justify-center align-center px-15 rounded-xl mb-2"
        background="#f3f3f3"
        outlined
        max-width="500"
        color="white"
        elevation="12"
      >
        <logo class="ma-0" />

        <set-language class="ma-0 pa-0 mt-n1" />

        <v-card class="mb-4" max-width="400">
          <v-img
            v-once
            :src="getImgUrl()"
            height="200px"
            max-width="400px"
          ></v-img>
          <div v-if="this.$store.state.auth.user">
            <v-card-title>
              {{
                this.$store.state.auth.user.full_name
                  ? this.$store.state.auth.user.full_name
                  : $auth.user.data.full_name
              }}
            </v-card-title>

            <v-card-subtitle class="mb=0">
              {{
                this.$store.state.auth.user.phone
                  ? this.$store.state.auth.user.phone
                  : $auth.user.data.phone
              }}
            </v-card-subtitle>
          </div>
          <v-card-actions class="mt-n5">
            <v-btn @click="logout()" color="orange lighten-2" text>
              {{ $store.state.text.logout }}
            </v-btn>

            <v-spacer></v-spacer>

            <v-btn icon @click.prevent="show = !show">
              <v-icon>{{
                show ? "mdi-chevron-up" : "mdi-chevron-down"
              }}</v-icon>
            </v-btn>
          </v-card-actions>

          <v-expand-transition>
            <div v-show="show">
              <v-divider></v-divider>

              <v-card-text>
                {{ $store.state.text.step_to_start }}
              </v-card-text>
            </div>
          </v-expand-transition>
        </v-card>

        <div class="d-flex flex-column justify-center align-center">
          <template class="d-flex flex-column justify-center align-center">
            <ul
              class="d-flex flex-column justify-center align-center pl-0"
              :key="componentKey"
            >
              <v-card
                class="mx-auto mb-5 mt-3 pl-0"
                outlined
                min-width="400px"
                max-width="400px"
                v-for="account in accounts"
                :key="account.id"
              >
                <v-list-item>
                  <v-list-item-content class="d-flex flex-wrap">
                    <div
                      class="text-overline mb-2 green--text"
                      v-if="account.is_active"
                    >
                      {{ $store.state.text.active }}
                    </div>
                    <div class="text-overline mb-2 red--text" v-else>
                      {{ $store.state.text.noactive }}
                    </div>
                    <v-list-item-title class="text-h6 mb-n3 d-flex flex-wrap">
                      {{ account.title }}
                    </v-list-item-title>
                  </v-list-item-content>
                </v-list-item>

                <v-card-actions>
                  <v-btn
                    class="my-2 rounded"
                    color="#FF961C"
                    outlined
                    rounded
                    text
                    @click.prevent="enter(account)"
                  >
                    {{ $store.state.text.enter }}
                  </v-btn>
                </v-card-actions>
              </v-card>
            </ul>

            <v-list-item-title v-if="!accounts.length" class="mt-5">
              {{ $store.state.text.you_have_no_school }}
            </v-list-item-title>

            <div class="my-2">
              <v-row justify="center">
                <v-dialog v-model="dialog" scrollable max-width="300px">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      class="my-3 py-5 add_school"
                      color="white"
                      outlined
                      width="400"
                      v-bind="attrs"
                      v-on="on"
                    >
                      +
                      {{ $store.state.text.add_school }}
                    </v-btn>
                  </template>
                  <v-card>
                    <v-card-title>Select Country</v-card-title>
                    <v-divider></v-divider>
                    <v-card-text style="height: 300px">
                      <v-radio-group
                        column
                        v-for="school in schools"
                        :key="school.id"
                        v-model="account"
                      >
                        <v-radio
                          :label="school.title"
                          :value="school"
                        ></v-radio>
                      </v-radio-group>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions>
                      <v-btn color="blue darken-1" text @click="dialog = false">
                        Close
                      </v-btn>
                      <v-btn
                        color="blue darken-1"
                        text
                        @click.prevent="create()"
                      >
                        Save
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-row>
            </div>
          </template>
        </div>
      </v-card>
    </div>
    <v-footer
      padless
      color="black"
      class="footer white--text pt-3 pb-3 mt-12 mb-0"
    >
      <div class="pl-3">
        <a href="/policy" target="_blank">Политика конфиденциальности</a>
      </div>
      <div class="test pr-3">
        Все права защищены © {{ new Date().getFullYear() }} OOO "ORGSELL"
      </div>
    </v-footer>
  </div>
</template>

<script>
import { catchNotify } from "~/api/_helper";
import Cookie from "js-cookie";

import { getAccs, getUser, getUserWithBid } from "~/api/userApi";
import { getSchools } from "~/api/systemApi";

export default {
  //   middleware: "log",
  //   layout: "test",
  layout: "guest",
  data: () => ({
    dialogm1: "",
    dialog: false,
    show: false,
    img: false,
    account: null,
    accounts: [],
    componentKey: 0,
    // accounts: [],
    // school: null,
  }),

  computed: {
    accountss() {
      return accs;
    },

    schools() {
      return this.$auth.$storage.getUniversal("schools");
    },
  },

  created() {
    this.$axios
      .get("accounts")
      .then((response) => {
        this.accounts = response.data.data;
        this.$auth.$storage.setUniversal("accounts", response.data.data);
      })
      .catch((error) => {
        console.log(error);
      });
  },
  methods: {
    async logout() {
      this.$auth.$storage.removeUniversal("accounts");
      this.$auth.$storage.removeUniversal("bid");
      this.$auth.$storage.removeUniversal("user");
      this.$auth.$storage.removeUniversal("schools");
      await this.$auth.logout();
      this.$router.push(this.localePath({ path: "/login" }));
    },

    changeSchool(school) {
      this.business = school;
      console.log("BUSINESS: ", this.business);
    },
    create() {
      //  this.$loading(true);
      this.$axios
        .post("accounts", { business: this.account })
        .then((response) => {
          this.catchNotify({
            title: this.$store.state.text["school_has_been_added"],
            message: this.$store.state.text["wait_moderation"],
            icon: "ti-save",
            horizontalAlign: "right",
            verticalAlign: "top",
            type: "success",
          });
        })
        .then((response) => {
          this.$axios
            .get("accounts")
            .then((response) => {
              this.accounts = response.data.data;
              this.$auth.$storage.setUniversal("accounts", response.data.data);
            })
            .catch((error) => {
              console.log(error);
            });
          this.account = null;
        })
        .catch((error) => {
          catchNotify(error);
        })
        .finally(() => {
          this.dialog = false;
        });
    },
    getImgUrl() {
      return require(`@/static/` +
        Math.floor(Math.random() * (8 - 1 + 1) + 1) +
        `.png`);
    },

    async enter(account) {
      if (account.is_active) {
        this.$auth.$storage.setUniversal("bid", account.id);

        this.$axios.defaults.headers.common["bid"] =
          this.$auth.$storage.getUniversal("bid");

        const newUser = await getUser(this.$axios);

        console.log("NEW: ", newUser);
        this.$auth.$storage.setUniversal("user", newUser.data, true);

        this.$router.push("/");
      }

      if (!account.is_active) {
        this.$vToastify.error("Выберите активную школу");
        console.log("ACCESS DENIED");
      }
    },
  },
};
</script>

<style scoped>
.hero {
  background: rgb(65, 13, 101);
  background: linear-gradient(
    312deg,
    rgba(65, 13, 101, 1) 0%,
    rgba(167, 49, 144, 1) 18%,
    rgba(235, 33, 76, 1) 52%,
    rgba(253, 29, 29, 1) 67%,
    rgba(252, 176, 69, 1) 100%
  );
  background-size: cover;
  min-height: 100vh;
}
.add_school {
  background: rgb(167, 49, 144);
  background: linear-gradient(
    312deg,
    rgba(167, 49, 144, 1) 0%,
    rgba(235, 33, 76, 1) 51%,
    rgba(253, 29, 29, 1) 61%,
    rgba(252, 176, 69, 1) 100%
  );
  background-size: cover;
}
.card {
  background-color: white;
}
.footer {
  opacity: 0.4;
  margin-top: auto;
}
.test {
  margin-left: auto;
}
a {
  text-decoration: none;
}
.short {
  white-space: normal;
}
* /deep/ .v-list-item__subtitle {
  white-space: normal;
}
* /deep/ .v-list-item__title {
  white-space: normal;
}
</style>
