<template>
  <v-app background="#f5f5fb" class="mb-16">
    <navigation v-if="$nuxt.$route.path != '/schools' && this.$auth.loggedIn" />
    <v-main
      class="mt-0 mb-n12 ml-0 mr-0 pb-6"
      background="#f5f5fb !important"
      style="background-color: #f5f5fb"
    >
      <v-breadcrumbs
        :items="breadcrumbs"
        class="py-0 pl-6"
        style="background-color: #f5f5fb"
      >
        <template v-slot:item="{ item }">
          <v-breadcrumbs-item
            exact-path
            :to="localePath(item.to)"
            :disabled="item.disabled"
          >
            {{ item.text.toUpperCase() }}
          </v-breadcrumbs-item>
        </template>
      </v-breadcrumbs>

      <nuxt class="mb-0" />
    </v-main>
  </v-app>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState(["pageBreadcrumbs"]),
    breadcrumbs() {
      return [
        {
          disabled: false,
          text: this.$store.state.text.main,
          to: "/",
        },
        ...this.pageBreadcrumbs,
      ];
    },
    user() {
      return this.$auth.$storage.getUniversal("user");
    },
  },
  //   middleware: "auth",
};
</script>
<style>
html {
  font-family: "Inter";
}
.v-application {
  background-color: #f5f5fb;
}
.theme--light.v-application {
  background-color: var(--v-background-base, white) !important;
}
</style>
