<template>
  <v-app dark>
    <v-container fluid class="text-center pt-15 mt-10">
      <logo />
      <h2 class="mb-6 text-h2">404</h2>
      <h2 class="mb-2 text-h5">СТРАНИЦА НЕ НАЙДЕНА</h2>
      <h2 class="mb-5 text-h5">SAHIFA TOPILMADI</h2>
      <v-btn class="success" :to="localePath(`/`)">На главную / Asosiyga</v-btn>
    </v-container>
  </v-app>
</template>

<script>
export default {
  layout: "video",
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      pageNotFound: "404 Not Found",
      otherError: "An error occurred",
    };
  },
  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError;
    return {
      title,
    };
  },
};
</script>
