<template>
  <v-app background="#fff">
    <v-main>
      <v-container :fluid="true" class="pa-0">
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  //   beforeCreate() {
  //     this.$router.push({ name: "schools" });
  //   },
};
</script>
