<template>
  <v-app>
    <!-- <div v-if="this.$auth.loggedIn">
        <v-btn to="/test">test</v-btn>
        <v-btn to="/login">login</v-btn>
      </div>
      <div v-else>
        <v-btn to="/register">register</v-btn>
        <v-btn to="/login">login</v-btn>
      </div> -->
    <nuxt />
  </v-app>
</template>

<script>
export default {
  //   middleware: "auth",
};
</script>
