<template>
  <v-container fill-height style="background-color: #f5f5fb" class="mb-n12">
    <v-row class="mb-6">
      <v-col cols="12" sm="12" md="12">
        <intro :user="user" />
      </v-col>

      <v-container cols="12" sm="12" md="12" fluid>
        <v-card>
          <v-row>
            <v-col cols="6" md="4">
              <h3 class="text-h6 ml-14 mb-6">
                Ваше расписание на {{ currDate }}
              </h3>
              <div
                v-for="timetable in timetableData"
                :key="timetable.lessonplan"
              >
                <timetable :item="timetable" v-if="active" />
              </div>
              <div
                v-if="!active"
                class="d-flex flex-column justify-center align-center"
              >
                <p
                  class="text-h6 font-weight-regular text-center text--primary mt-12 mb-12"
                >
                  На этот день у вас ничего не запланировано
                </p>
                <img src="/error 1.png" alt="error" />
              </div>
            </v-col>
            <v-col cols="12" sm="6" md="8" class="pr-10">
              <calendar />
              <!-- <work-home /> -->
            </v-col>
          </v-row>
        </v-card>
      </v-container>
    </v-row>
  </v-container>
</template>

<script>
import { getStats } from "~/api/statsApi";

export default {
  middleware: "auth",
  asyncData({
    isDev,
    route,
    store,
    env,
    params,
    query,
    req,
    res,
    redirect,
    error,
  }) {
    store.dispatch("setBreadcrumbs", []);
  },
  computed: {
    user() {
      // return this.$auth.$storage.getUniversal("user")?.business?.routes;
      return this.$store.state.auth.user;
    },
    currDate() {
      let yourDate = new Date();
      const options = {
        year: "numeric",
        month: "long",
        day: "numeric",
      };
      return new Date().toLocaleDateString("ru-RU", options);
    },
  },
  data() {
    return {
      active: false,
      timetableData: [
        {
          time: "9:00 - 9:45",
          title: "Родной язык и грамота чтения",
          class: "2 A",
          lessonPlan: "Буква 'Ю'",
          color: "#FF4C00",
        },
        {
          time: "10:00 - 10:45",
          title: "Математика",
          class: "2 A",
          lessonPlan: "Сложение чисел с переходом через десяток",
          color: "#EB265D",
        },
        {
          time: "10:50 - 11:35",
          title: "Английский язык",
          class: "2 A",
          lessonPlan: "Animals",
          color: "#30AB02",
        },
      ],
    };
  },
};
</script>
<style scoped>
.bg {
  background-color: red;
}
</style>
