<template>
  <v-container fluid class="bg">
    <settings-card :user="this.$auth.$storage.getUniversal('user')" />
  </v-container>
</template>
<script>
import { mapState } from "vuex";
export default {
  asyncData({
    isDev,
    route,
    store,
    env,
    params,
    query,
    req,
    res,
    redirect,
    error,
  }) {
    store.dispatch("setBreadcrumbs", [
      {
        to: "/settings",
        text: "Настройки",
        disabled: false,
      },
    ]);
  },
  // asyncData({ isDev, route, store, env, params, query, req, res, redirect, error }) {
  // 	store.dispatch('setBreadcrumbs', [{
  // 		to: '/settings',
  // 		text: store.state.user.navigation['settings']['title'],
  // 		disabled: false
  // 	}]);
  // },
  // computed: {
  // 	...mapState(['user'])
  // },
  // middleware: 'user'
};
</script>
<style>
.bg > * {
  background: linear-gradient(
    92.68deg,
    #7a5bdf 18.9%,
    #9b5fea 70.42%
  ) !important;
}
</style>
