<template>
  <v-form @keyup.enter="login">
    <set-language :title="`interface_language`"></set-language>
    <v-text-field
      type="tel"
      label="Номер телефона"
      v-model="phone"
      name="phone"
      v-mask="'+998#########'"
      placeholder="+998"
    ></v-text-field>
    <v-text-field
      type="password"
      name="password"
      label="Пароль"
      v-model="password"
      placeholder=""
    ></v-text-field>
    <br />
    <br />

    <v-btn
      class="w-100 mb-3"
      type="warning"
      rounded
      @click.native.prevent="login"
      >{{ "login" | setText("Войти в систему") }}</v-btn
    >
  </v-form>
</template>

<script>
// import { errorNotify } from "@/plugins/functions";

export default {
  name: "login",
  mounted() {},
  data() {
    return {
      phone: "",
      password: "",
    };
  },
  methods: {
    login(loading = true) {
      this.$loading(true);
      this.$axios
        .post("auth/login", {
          phone: this.phone,
          password: this.password,
        })
        .then((response) => {
          let token = response.data.data.access.accessToken;
          this.$axios.defaults.headers.common[
            "Authorization"
          ] = `Bearer ${token}`;
          this.$axios.defaults.headers.common["root"] = null;
          this.$axios.defaults.headers.common["bid"] = null;
          localStorage.setItem("token", `Bearer ${token}`);
          localStorage.removeItem("root");
          localStorage.removeItem("bid");
          this.$store.dispatch("setUser", response.data.data);
          this.$store.dispatch("setRoot", false);
          this.$store.dispatch("setBusiness", null);
          this.$store.dispatch("setRoles", response.data.data.roles);
          this.$store.dispatch("setLocations", response.data.data.locations);
        })
        .catch((error) => {
          errorNotify(error, this.$notify);
        })
        .finally(() => {
          setTimeout(() => {
            this.$loading(false);
          }, 400);
        });
    },
  },
};
</script>
<style></style>
