<!-- <template>
  <form>
    <fg-input
      type="tel"
      label="Номер телефона"
      v-model="phone"
      name="phone"
      placeholder="+998"
      v-mask="`+998#########`"
      :readonly="is_sent"
    ></fg-input>
    <template v-if="is_sent">
      <fg-input
        type="tel"
        name="code_sms"
        label="Код из смс"
        v-model="code"
        placeholder="*****"
        v-mask="`#####`"
      ></fg-input>
      <br />
      <p-button
        v-if="is_sent"
        class="w-100 mb-3"
        type="warning"
        round
        @click.native.prevent="verify"
        >{{ "accept" | setText("Подтвердить") }}</p-button
      >
      <p-button class="w-100 mb-3" @click.native.prevent="reset">{{
        "reset_phone" | setText("Сбросить номер")
      }}</p-button>
    </template>
    <p-button
      v-else
      class="w-100 mb-3"
      type="warning"
      round
      @click.native.prevent="send"
      >{{ "next" | setText("Продолжить") }}</p-button
    >
  </form>
</template> -->

<template>
  <div background="#fffff">
    <v-form class="login d-flex justify-center align-center">
      <v-row justify="center">
        <v-col class="m-auto text-center" cols="12" sm="8" md="6" lg="4" xl="3">
          <v-card class="py-6 px-6">
            <logo class="mb-4" />
            <set-language class="mb-7" />

            <v-text-field
              outlined
              type="phone"
              name="phone"
              v-model="data.phone"
              :label="$store.state.text['phone'] + ' ' + '+998'"
              :readonly="data.is_sent"
              required
            >
            </v-text-field>
            <template v-if="data.is_sent">
              <v-text-field
                type="phone"
                name="code_sms"
                label="Код из смс"
                v-model="data.code"
                placeholder="*****"
              ></v-text-field>
              <br />
              <v-btn
                v-if="data.is_sent"
                class="w-100 mb-3"
                type="warning"
                rounded
                @click.native.prevent="verify"
                >{{ $store.state.text.accept }}</v-btn
              >
              <v-btn class="w-100 mb-3" @click.native.prevent="reset">{{
                $store.state.text.reset_phone
              }}</v-btn>
            </template>
            <v-btn
              v-else
              class="w-100 mb-3"
              type="warning"
              rounded
              @click.native.prevent="send"
              >{{ $store.state.text.next }}</v-btn
            >
            <!-- <v-text-field
              outlined
              type="phone"
              name="code_sms"
              v-model="phone"
              :label="$store.state.text['phone'] + ' ' + '+998'"
              required
            >
            </v-text-field>
              <v-text-field
                outlined
                type="password"
                name="password"
                :label="$store.state.text['password']"
                v-model="password"
                required
              >
              </v-text-field>
  
              <v-btn
                large
                :width="`100%`"
                :loading="loading"
                class="white--text mt-2 mb-4"
                color="green"
                type="submit"
                @click="isLogin = !isLogin"
              >
                {{ $store.state.text["enter"] }}
              </v-btn>
              <hr />
              <v-btn
                large
                :width="`100%`"
                :loading="loading"
                class="white--text mt-2"
                color="green"
                type="text"
                @click="restore"
              >
                {{ $store.state.text["restore"] }}
              </v-btn>
              <v-btn
                large
                :width="`100%`"
                :loading="loading"
                class="white--text mt-2"
                color="green"
                type="text"
                @click="register"
              >
                {{ $store.state.text["register"] }}
              </v-btn> -->
          </v-card>
        </v-col>
      </v-row>
    </v-form>
  </div>
</template>

<script>
import { sendSms, verifySms } from "~/api/userApi";

// import { errorNotify } from "@/plugins/functions";
export default {
  name: "login",
  components: {},
  props: {
    is_restore: {
      default: false,
    },
  },
  data() {
    return {
      data: {
        phone: "+998",
        code: "",
        is_sent: false,
        is_restore: this.is_restore,
      },
    };
  },
  methods: {
    reset() {
      this.data.is_sent = false;
      this.data.phone = "+998";
      this.data.code = "";
    },
    verify() {
      // this.$loading(true);
      // const data = await verifySms(this, this.data);
      // console.log("Verified data: ", data);
      // this.$emit("verified", data);
      this.$axios
        .post("auth/code/verify", {
          phone: this.data.phone,
          code: this.data.code,
        })
        .then((response) => {
          console.log(response.data);
          this.$emit("verified", response.data);
        })
        .catch((error) => {
          this.code = "";
          console.log(error);
        });
      // .finally(() => {
      //   setTimeout(() => {
      //     this.$loading(false);
      //   }, 400);
      // });
    },
    async send() {
      const data = await sendSms(this, this.data);
      console.log("Send data: ", data);
      if (data) {
        this.data.is_sent = true;
      }
      // this.$loading(true);
      // this.$http
      //   .post("auth/code", {
      //     phone: this.phone,
      //     is_restore: this.is_restore,
      //   })
      //   .then((response) => {
      //     this.is_sent = true;
      //   })
      //   .catch((error) => {
      //     console.log(error);
      //   })
      //   .finally(() => {
      //     this.code = "";
      //     setTimeout(() => {
      //       this.$loading(false);
      //     }, 200);
      //   });
    },
  },
};
</script>
