<template>
  <v-card>
    <v-form v-model="valid" @submit.prevent="save">
      <v-card-text>
        <div class="text-h6 mb-3">{{ $store.state.text["change_pass"] }}</div>
        <v-text-field
          type="password"
          outlined
          name="password"
          v-model="password"
          :label="$store.state.text['password']"
          required
        >
        </v-text-field>
        <v-text-field
          outlined
          type="password"
          name="password_confirmation"
          v-model="password_confirmation"
          :label="$store.state.text['password_confirmation']"
          required
        >
        </v-text-field>
        <v-btn
          large
          :loading="loading"
          width="100%"
          class="white--text mt-2"
          color="green"
          type="submit"
        >
          {{ $store.state.text["change_password"] }}
        </v-btn>
      </v-card-text>
    </v-form>
  </v-card>
</template>
<script>
export default {
  props: {
    loading: Boolean,
  },
  methods: {
    save() {
      this.$emit("input", {
        password: this.password,
        password_confirmation: this.password_confirmation,
      });
    },
  },
  data() {
    return {
      valid: true,
      password: "",
      password_confirmation: "",
    };
  },
};
</script>
