<template>
  <v-card elevation="0">
    <v-card-title class="text-h5 mb-1 font-weight-bold">
      {{ user["full_name"] }}
    </v-card-title>
    <v-card-subtitle
      class="white--text text-subtitle-1 font-weight-medium pb-0"
    >
      {{ $store.state.text["phone"] }}: {{ user["phone"] }}
    </v-card-subtitle>
    <v-card-text class="pt-0 mt-0">
      <v-btn
        color="blue"
        class="pa-0 pb-0 mb-0"
        @click="$emit('changePassword', true)"
        text
      >
        {{ $store.state.text["change_password"] }}
      </v-btn>
      <div class="black--text" v-if="user['address']">
        <span class="green--text">{{ $store.state.text["adress"] }}</span>
        {{ user["address"]["full_address"] }}
      </div>
      <div class="black--text">
        <span class="green--text">{{ $store.state.text["birth_date"] }}</span>
        {{ user["birthday"] | date }}
      </div>
      <div class="white--text pt-0 mt-0">
        <span class="white--text text-subtitle-1 font-weight-medium pt-0 mt-0"
          >Текущая школа: {{ $store.state.text["school"] }}
        </span>
        {{ user["business"]["title"] }}
      </div>
      <div class="black--text"></div>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  watch: {},
  props: {
    user: Object,
  },
};
</script>
