<template>
  <v-card elevation="3" :loading="loading">
    <v-card class="d-flex flex-wrap align-center pa-6">
      <v-card elevation="0">
        <v-card-title>
          <v-avatar size="180" color="#ebebeb">
            <v-img :src="user['avatar']" />
          </v-avatar>
          <v-file-input
            hide-details
            hide-input
            @change="updateAvatar"
            v-model="avatar"
            accept="image/png, image/jpeg, image/bmp"
            placeholder="Pick an avatar"
            prepend-icon="mdi-camera"
            label="Avatar"
          />
        </v-card-title>
      </v-card>
      <v-card elevation="0">
        <profile-info :user="user" @changePassword="changePassword = true" />

        <!-- <guardian-list :data="user['guardians']" /> -->
      </v-card>
      <v-btn class="btn-change" color="white" to="/">Сменить сезон</v-btn>
    </v-card>
    <v-dialog v-model="changePassword" max-width="400px">
      <change-password :loading="loading" @input="updatePassword" />
    </v-dialog>
  </v-card>
</template>
<script>
import { updateUser } from "~/api/userApi";

export default {
  methods: {
    async updatePassword(val) {
      this.loading = true;
      const user = await updateUser(this, val);
      if (user && user.data) {
        // this.$store.dispatch("setUser", user.data);
        this.$auth.$storage.setUniversal("user", user.data, true);
        this.$vToastify.success("Пароль изменён");

        this.changePassword = false;
      }
      this.loading = false;
    },
    async updateAvatar() {
      this.loading = true;
      // const user = await updateUser(this, { avatar: this.avatar });
      const user = await updateUser(this, { avatar: this.avatar });

      if (user && user.data) {
        this.$auth.$storage.setUniversal("user", user.data, true);
        this.$vToastify.success("Фото загружено успешно");

        // this.$store.dispatch("setUser", user.data);
      }
      this.loading = false;
    },
  },
  props: {
    user: Object,
  },
  data() {
    return {
      loading: false,
      changePassword: false,
      avatar: null,
    };
  },
};
</script>
<style scoped>
.v-card > * {
  background: #9b5fea;
  color: white;
}
.btn-change {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 2rem;
  border-radius: 20px;
  color: #9b5fea;
}
</style>
